debug.log
client/src/proj.ios/test2048.xcodeproj/xcuserdata/
client/src/proj.ios/test2048.xcodeproj/project.xcworkspace/
client/src/proj.mac/test2048.xcodeproj/project.xcworkspace/
client/src/proj.mac/test2048.xcodeproj/xcuserdata/
client/src/proj.win32/Debug/