<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>background_mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1},{400,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,64}}</string>
                <key>sourceSize</key>
                <string>{400,64}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1},{575,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,24}}</string>
                <key>sourceSize</key>
                <string>{575,24}</string>
            </dict>
            <key>p1_cart001.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,302},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>p1_cart002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sheet_Map.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:487a27eba2925922d9d09122d9f2eb47:dcd3d9749f6587706f63ef433796cfc9:82b3ecc0a55ff3c0002100a74a15cdbc$</string>
            <key>textureFileName</key>
            <string>Sheet_Map.png</string>
        </dict>
    </dict>
</plist>
